body {
  padding: 50px;
  padding-bottom: 500px;
  background-color: #efefef;
}

h1{
  color: #333;
}

p {
  background-color: #999;
  font-weight: bold;
  color: white;
  padding: 10px;
  transition: 30ms;
}